{:duct.profile/base
 {:duct.core/project-ns graphql-client

  :duct.router/ataraxy
  {:routes {[:get "/"] [:graphql-client.handler/index]}}

  :graphql-client.handler/index
  {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main graphql-client.core}}
